.bg-light {
    --bs-bg-opacity: 1;
    background-color: white!important;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
    margin-right: 24%;
    font-size: 80px;
    margin-left: 10px;
    FONT-FAMILY: fangsong;
    
}
a.nav-link{
    margin-right: 40px;
    font-size: 40px;
    text-align: center;
}